<div class="row mb">
    <!--
    <div class="col-sm-4 mb-sm">
        <label title="{{ 'modules.upload.field.preview' | translate }}" class="text-info">
            {{'modules.upload.field.preview' | translate }}
        </label>
        <img ngf-src="vm.ufile.file" class="img-thumbnail img-responsive">
        <div class="img-placeholder"
             ng-if="vm.ufile.file.$invalid && !vm.ufile.file.blobUrl">
            No preview available
        </div>
    </div>
    -->

    <div class="col-sm-8">
        <div class="filename" title="{{ vm.ufile.file.name }}">{{ vm.ufile.file.name }}</div>
    </div>
    <div class="col-sm-4">
        <div class="progress-bar" role="progressbar"
             ng-class="{'progress-bar-success': vm.ufile.progress == 100}"
             ng-style="{width: vm.ufile.progress + '%', 'min-width': '2em'}">
            {{ vm.ufile.progress || '0' }} %
        </div>
    </div>

</div>
<!--
<div ng-messages="uploadForm.$error" ng-messages-multiple="">
    <div class="text-danger errorMsg" ng-message="maxSize">{{ form.schema[file.$error].validationMessage | translate }} <strong>{{file.$errorParam}}</strong>. ({{ form.schema[file.$error].validationMessage2 | translate }} <strong>{{file.size / 1000000|number:1}}MB</strong>)</div>
    <div class="text-danger errorMsg" ng-message="pattern">{{ form.schema[file.$error].validationMessage | translate }} <strong>{{file.$errorParam}}</strong></div>
    <div class="text-danger errorMsg" ng-message="maxItems">{{ form.schema[file.$error].validationMessage | translate }} <strong>{{file.$errorParam}}</strong></div>
    <div class="text-danger errorMsg" ng-message="minItems">{{ form.schema[file.$error].validationMessage | translate }} <strong>{{file.$errorParam}}</strong></div>
    <div class="text-danger errorMsg" ng-show="errorMsg">{{errorMsg}}</div>
</div>
-->
